page-sobre {
    .scroll-content {
    background-color: #ad702f;
   }
    .titulo {
    text-align: left;
    font-family: 'Spicy Rice', cursive;
    font-size: 20 pt;
    color: red;
 }
    .texto {
    font-family: 'Arial', sans-serif, ;
    font-size: 15pt;
    font-weight: normal;
    text-align: justify;

    }
}
