page-cheeseburgers {
    .content{
        background-color: #ad702f;
    }
    
    .item{
        background-color:#ad702f;
    // color:white;

    }
    .preco{
        text-align: right;
        float: right;
        } 
}
